body
  background-color white
  
  +breakpoint('mobile-landscape')
    background-color main-bg-color-dark

.modal-container
  position relative
  overflow hidden
  background-color white
  min-width 300px
  
  @media only screen and (orientation:portrait) and (max-width: 568px)
    height 100%
    
  +breakpoint('mobile-landscape')
    width 450px
    min-width auto
    overflow visible
    center-both()
    border-radius border-radius
  
  &.center-reset
    position relative
    left auto
    top auto
    transform none
    margin 0 auto
  
.top-section
  position relative
  padding 5.4% 0 2.9% 0
  margin 0
  // overflow hidden
  text-align center
  // background-color #fff
  
  +breakpoint('mobile-landscape')
    padding 45px 0 20px 0
    border-top-left-radius border-radius
    border-top-right-radius border-radius
  
  .top-background
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background linear-gradient(to right, rgb(250, 250, 250) 0%, rgb(230,230,230) 25%, rgb(250, 250, 250) 50%, rgb(230,230,230) 75%, rgb(250, 250, 250) 100%)
    z-index z-top-bg

    +breakpoint('mobile-landscape')
      border-top-left-radius border-radius
      border-top-right-radius border-radius

  .logos-container
    +breakpoint('mobile-landscape')
      center-horizontal()
      top 0
      transform translateY(-50%) translateX(-50%)

    .app-logo
      position relative
      margin-right -10px
      z-index z-app-logo
    .auth0-logo
      position relative
      margin-left -10px
      z-index z-auth0-logo
  
  .title
    font-size h22px
    line-height 1.36em
    @extend .normal-text
    color main-text-color
  
  .subtitle
    font-family 'Avenir-Medium', sans-serif
    font-size sub12px
    line-height 0.72em
    text-transform uppercase
    @extend .normal-text
    color main-text-color

.middle-section
  position relative
  padding 5.4% 0 5.4%
  background-color white
  text-align center
  
  +breakpoint('mobile-landscape')
    padding 32px 0 35px 0
    border-bottom-left-radius border-radius+2
    border-bottom-right-radius border-radius+2
  
  .notification
    padding 0 2.2em
    margin 0 0 25px 0
    font-family 'Avenir-Roman', sans-serif
    font-size m18px
    color secondary-text-color
    line-height 1.36em
    opacity 0.8
    
    .highlight
      color main-text-color
      font-weight normal
  
  .permissions-list
    position relative
    padding 0 1.6em

    .permit-item
      display table
      margin-bottom 20px 
      @extend .normal-text
      font-size m15px
      text-align left
      font-family 'Avenir-Roman', sans-serif
      color secondary-text-color
      
      &:last-of-type
        margin-bottom 0
      
      .highlight
        font-weight normal
        color main-text-color
        
    .permit-text
      display table-cell
      vertical-align middle
      margin 0 
      opacity 0.8
      color secondary-darker-text-color
      line-height 0.9rem
    
    .icon-small
      margin-right 14px
      
.show-more
  margin 0
  padding 15px 0
  border-top 1px solid #EBEBEB
  text-align center
  text-transform uppercase
  font-family 'Proxima Nova', sans-serif
  font-size sub12px
  color secondary-darker-text-color
  letter-spacing 0.09rem
  line-height 0.63em
  background-color white
  cursor pointer
  
  +breakpoint('mobile-landscape')
    display none
      
.ctas-container
  position absolute
  bottom 0
  width 100%
  
  +breakpoint('mobile-landscape')
    position static
  
  .btn-cancel,
  .btn-accept
    position relative
    width 50%
    height 75px
    float left
    
    .icon-cta-small
      center-both()

    
  .btn-cancel
    background-color cancel-btn-color
    
    +breakpoint('mobile-landscape')
      border-bottom-left-radius border-radius
  
  .btn-accept
    background-color accept-btn-color
    
    +breakpoint('mobile-landscape')
      border-bottom-right-radius border-radius
    

.modal-second
  display flex
  flex-direction column
  justify-content space-between
  
  +breakpoint('mobile-landscape')
    width 300px
  
  .top-section
    padding 29px 0 28px 0
    .logos-container
      center-reset()
      position relative
      margin-bottom 15px
      
      img
        margin-left 0
  
  .middle-section
    +breakpoint('mobile-landscape')
      padding 42px 0
    
    .verification-form
      height 48px
      
      .code-icon-cont
        position relative
        display inline-block
        float left
        width input-icon-size
        height input-icon-size
        margin-right 0
        background-color main-bg-color-light
        border-top-left-radius border-radius
        border-bottom-left-radius border-radius
      
      .input-cont
        margin 0 35px
        height 100%
        
        .icon-code
          display inline-block
          center-both()
          
        input
          display inline-block
          float left
          // Really? This should be way easier. Like use interpolation or something.
          width "calc(100% - %s)" % input-icon-size
          padding-left 16px
          height 100%
          border 1px solid #EEE
          vertical-align top
          font-family 'Avenir-Roman', sans-serif
          font-size 16px
          // Cant replace color with variable for some unknown reason
          color #999999
          line-height 22px
          border-top-right-radius border-radius
          border-bottom-right-radius border-radius
    
    .verification-notice
      font-family 'Avenir-Book', sans-serif
      font-size m14px
      color rgba(0,0,0,0.80)
      line-height 24px
      padding 0 40px;
      margin 0 0 23px 0

  .ctas-container
    position relative
    height 75px
    background-color accept-btn-color
    
    +breakpoint('mobile-landscape')
        border-bottom-left-radius border-radius
        border-bottom-right-radius border-radius
    
    .btn-next
      display block
      height 100%
      width 100%
      padding 18px 0
      background none
      
      .icon-cta-small
        center-both()
        
.modal-third
  height auto
  
  +breakpoint('mobile-landscape')
    width 380px
  
  .middle-section
    padding 26px 0
    
    .verification-notice
      margin-top 21px

  .code-scan-cont
    text-align center
    
    .code-scan-text
      font-family 'Avenir-Book', sans-serif
      font-size m16px
      color rgba(0,0,0,0.80)
      line-height 24px
      padding 0 37px
      margin 0 0 6px 0
  
  .code-scan-help
    display inline-block
    margin-top 32px
    font-family 'Proxima Nova', sans-serif
    font-size sub12px
    text-transform uppercase
    color soft-blue-link
    letter-spacing 2px
    line-height 14px