body
  background-color white

.modal-container
  background-color white
  
.top-section
  padding 5.4% 0 2.9% 0
  margin 0
  overflow hidden
  text-align center
  background-color #ddd
  
.middle-section
  position relative
  padding 5.4% 0 5.4%
  background-color white
  text-align center

.ctas-container
  position absolute
  bottom 0
  width 100%
  
  .btn-cancel,
  .btn-accept
    position relative
    width 50%
    height 75px
    float left
    
  .btn-cancel
    background-color cancel-btn-color
  
  .btn-accept
    background-color accept-btn-color