.normal-text
  opacity 0.8
  font-family 'Avenir-Roman', sans-serif
  color #000000
  margin 0

.logo-small
  display inline-block
  width 78px
  height 78px
  
.sprite
  background-image url("images/sprite.svg")
  background-repeat no-repeat

.icon-connect
  background-position -1px -1px

.icon-apps
  background-position -42px -1px

.icon-users
  background-position -83px -1px

.icon-stats
  background-position -124px -1px
  
.icon-small
  display inline-block
  vertical-align middle
  width 38px
  height 38px

.icon-x-small
  width 14px
  height 14px
  
.icon-code
  background-position -166px 0

.icon-cta-small
  display inline-block
  width 44px
  height 44px
  
.icon-cta-cancel
  background-position -49px -54px

.icon-cta-accept
  background-position -1px -54px
  
.icon-cta-next
  background-position -99px -54px

.close-modal-btn
  position absolute
  top 14px
  right 14px
  display inline-block
  
.icon-close
  width 20px
  height 20px
  background-color transparent
  background-position -184px -1px
  box-shadow 0 1px 2px 0 rgba(0,0,0,0.4)
  border-radius 50%
  z-index z-close-btn
  cursor pointer
  