// Variables
  
// Colors
main-bg-color-dark = #222228
main-bg-color-light = #F1F1F1

main-text-color = #000000
secondary-text-color = #6B6B6B
secondary-darker-text-color = #4A4A4A
color-input = #999999

cancel-btn-color = #5C666F
accept-btn-color = #40DF7D

input-border-color = #EEE

soft-blue-link = #4F85D8

// Font sizes
h22px = 1rem
m18px = 0.81rem
m16px = 0.727rem
m15px = 0.681rem
m14px = 0.636rem
sub12px = 0.54rem
sub10px = 0.45rem

// Sizes and others
modal-icon-size = 38px
animation-duration = 0.5s
border-radius = 5px
input-icon-size = 48px

// z-indexes
z-app-logo = 15
z-auth0-logo = 10
z-close-btn = 50
z-top-bg = 0
